
<div class="container">
        
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="author-container">
                    <h1>Creators</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th># of Contracts</th>
                                <th>See Creator's Posts</th>
                                <th>New Contract</th>
                                <th>Delete Creator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="form-row">
                                <form id="author-form">
                                    <td colspan="4">
                                        <input placeholder="Enter a name" id="author-name" type="text" />
                                    </td>
                                    <td><button type="submit" class="btn btn-success">Submit Creator</button>
                                    </td>
                                </form>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>