 <div class="navbar-fixed">
        <nav class= "blue">
          <div class="container">
            <div class = "nav-wrapper">
            <a href="#" class=" center brand-logo">Trust Me</a>
            <a href = "#" data-target = "mobile-nav" class = "sidenav-trigger"><i class = "material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down" >
              <li><a href="#"></a></li>
              
              <li><a href="/contract-form">Create Contract</a></li>
            </ul>
            </div>
          </div>
        </nav>
        </div>


        <ul id="slide-out" class="sidenav sidenav-fixed">
      <li><a href="#!">{{users.user-name}}</a></li>
      <li><a href="/contracts/users/:id">contracts</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

     <div class="container contractdiv">
  <ul class="collection m4 " id="myContracts">
 {{#each myContracts}}
        <li class="collection-item avatar m4">
        <i class="material-icons circle">folder</i>
        <span class="title">Contract #: {{contract_id}}</span>
        <p> Creator: {{creator_id}} <br>
           Receiver: {{receiver_id}}
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      {{/each}}
  </ul>
            </div>