 <div class="navbar-fixed">
        <nav class= "blue">
          <div class="container">
            <div class = "nav-wrapper">
            <a href="/" class=" center brand-logo">Trust Me</a>
            <a href = "#" data-target = "mobile-nav" class = "sidenav-trigger"><i class = "material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down" >
              <li><a href="#"></a></li>
              
              <li><a href="/contract-form">Create Contract</a></li>
            </ul>
            </div>
          </div>
        </nav>
        </div>


        <ul id="slide-out" class="sidenav sidenav-fixed hide-on-med-and-down">
      <li><a href="#!">{{users.user-name}}</a></li>
      <li><a href="/contracts/users/:id">contracts</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

     <div class="container contractdiv">
  <ul class="collection m4 " id="myContracts">
 {{#each myContracts}}
        <li class="collection-item avatar m4">
        <i class="material-icons circle">folder</i>
        <span class="title">Contract #: {{contract_id}}</span>
        <p> Creator: {{creator_id}} <br>
           Receiver: {{receiver_id}}
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      {{/each}}
  </ul>
            </div>

            <footer class="page-footer foot">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Trust Me</h5>
                <p class="grey-text text-lighten-4">Trust Me does not provide legal services. Nor are we a legal or accredited institution.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/login">Log In</a></li>
                  <li><a class="grey-text text-lighten-3" href="/createaccount">Create Account</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright
            
            </div>
          </div>
        </footer>