<div class="navbar-fixed">
  <nav class= "blue">
    <div class="container">
      <div class = "nav-wrapper">
      <a href="#" class=" ctr brand-logo">Trust Me</a>
      <a href = "#" data-target = "mobile-nav" class = "sidenav-trigger"><i class = "material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down" >
        <li><a href="/login">Login</a></li> 
        <li><a href="/createaccount">Create Account</a></li>
      </ul>
      </div>
    </div>
  </nav>
  </div>
  <ul class="sidenav" id ="mobile-nav" >
        <li><a href="/login">Login</a></li>
        <li><a href="/createaccount">Create Account</a></li>
        <li><a href="#">Contact Us</a></li>
   </ul>

   <div class="parallax-container">
      <div class="parallax parallax-1"><img src="https://i.postimg.cc/5NwLPXVm/Macbook_Pro.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Communication is Key<span></span><i class="fas fa-key"></i></h2>
        <p class="black-text text-darken-3 lighten-3 no">No more pricey legal consultations! No more complicated legal jargon! No more time exhausting procedures!</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://i.postimg.cc/vTxKfYRK/slim.jpg"></div>
    </div>


  <div class="row ">
    <div class="col s12 m6 wow">
      <div class="card">
        <div class="card-image">
          <img src="https://i.postimg.cc/7ZgQDPyH/Disclaimer.jpg">
          <span class="card-title"></span>
          <a class="btn-floating btn-large pulse blue"><i class="material-icons">cloud</i></a>
        </div>
        <div class="card-content card-1">
          <p>A perfect solution for all entities, corporations, persons, or individual contractors. Welcome to a simple solution in a traditionally complexed service.
            Create legally binding contracts in seconds. Choose whether your the creator or the signee. Trust Me is appreciated by millions of people throughout the world.
            Click that blue button and find out why!
            
          
          </p>
        </div>
      </div>
     </div>
      
      <div class="row">
        <div class="col s12 center">
          <a href="#contact" class="btn btn-large grey darken-3">
            <i class="material-icons left">send</i> Contact For Booking
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
  <section class="section-follow blue darken-2 yellow-text center socialmedia">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4>Follow Trust Me</h4>
          <p>Follow us on social media!</p>
          <a href="https://facebook.com" target="https://www.facebook.com" class="white-text">
            <i class="fab fa-facebook fa-4x"></i>
          </a>
          <a href="https://twitter.com" target="https://twitter.com" class="white-text">
            <i class="fab fa-twitter fa-4x"></i>
          </a>
          <a href="https://linkedin.com" target="https://www.linkedin.com" class="white-text">
            <i class="fab fa-linkedin fa-4x"></i>
          </a>
          <a href="https://googlepluse.com" target="https://plus.google.com/discover" class="white-text">
            <i class="fab fa-google-plus fa-4x"></i>
          </a>
          <a href="https://pinterest.com" target="https://www.pinterest.com" class="white-text">
            <i class="fab fa-pinterest fa-4x"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
            

   
  
  
  
  <section class= "slider">
     <ul class= "slides">
     <li>
       <img src="https://i.postimg.cc/zD9GcNSD/Phonesignature.jpg">
       <div class ="caption center-align">
         <h3>We The People!</h3>
         <h5 class= "dark blue-text text-lighten-3">For the people by the people</h5>

       </div>
       </li>
       <li>
       <img src="https://i.postimg.cc/wjVpkYjB/contractshake.jpg">
       <a class="btn-floating btn-large pulse"><i class="material-icons">cloud</i></a>
       <div class ="caption center-align">
         <h3>One Contract at a time!</h3>
         <h5 class= "dark blue-text text-lighten-3">For the people by the people</h5>

       </div>
       </li>
       <li>
       <img src="https://i.postimg.cc/Z5MhQF6k/Untitled_design_copy_2.jpg">
       <div class ="caption center-align">
         <h3>From Author to Signee</h3>
         <h5 class= "dark yellow-text text-lighten-3">For the people by the people</h5>

       </div>
       </li>
     </ul>
</section>

<footer class="page-footer foot">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Trust Me</h5>
                <p class="grey-text text-lighten-4">Trust Me does not provide legal services. Nor are we a legal or accredited institution.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/login">Log In</a></li>
                  <li><a class="grey-text text-lighten-3" href="/createaccount">Create Account</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright
            
            </div>
          </div>
        </footer>
        









 




